header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-header img {
  max-height: 40px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  color: #2699fb;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.menu a:hover {
  color: #2699fb;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    list-style: none;
    background-color: #fff;
    width: 200px;
    transition: all 1s ease-in;
    z-index: 10;
    top: 50px;
    right: 20px; 
    padding: 10px; 
    border-radius: 5px; 
    position: absolute;
    max-height: 300px; 

  }

  .menu ul {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: relative;
    
  }

  .menu li {
    margin: 20px 0;
  }

  .menu a {
    color: #2699fb;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .menu a:hover {
    color: #2699fb;
  }

  .burguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: relative;
    
  }

  .burguer .line {
    width:100%;
    height: 5px;
    background-color: #2699fb;
    transition: all 0.3s ease-in;
   
  }

  .burguer .line:nth-child(2) {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    
  }

  .burguer .line {
    background-color: #2699fb;
    
  }

  .burguer.active .line {
    left:15px;
    background:#777;
  }

  .burguer.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burguer.active .line:nth-child(2) {
    opacity: 0;
  }

  .burguer.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
}
