---
import "../header/header.css"
import HeaderLogo from "/images/header/LogoHeader.png";

interface SiteMap {
  name: string;
  refLink: string;
}

interface Props {
  companyData: {
    siteMap: Array<SiteMap>;
  };
}

const { companyData } = Astro.props;
const { siteMap } = companyData;
---

<header id="header">
  <div class="logo-header">
    <img src={HeaderLogo} alt="EquaSystems Logo" />
  </div>
  <nav class="menu menu-resp">
    <ul>
      {
        siteMap.map(site => 
          <li>
            <a href={site.refLink}>{site.name}</a>
          </li>
        )
      }
    </ul>
  </nav>
  <div class="burguer">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>

<script>
  window.onscroll = function() {myFunction()};
  
  var header = document.getElementById("header");
  
  // Get the offset position of the navbar
  var sticky = header.offsetTop;
  
  // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
  </script>