---
import Logo from "../images/header/LogoHeader.png";
---

<section class="about-us">
  <h2>¿Quiénes somos?</h2>
  <div class="content-row">
    <div class="logo">
      <img src={Logo} alt="Logo" />
    </div>
    <div class="description">
      <div class="card">
        <p>
          Somos una empresa con un equipo diverso de profesionales ecuatorianos
          y estadounidenses dedicados a ofrecer soluciones de software de alta
          calidad. Nos enfocamos en la creación, desarrollo y personalización de
          sistemas y servicios, utilizando enfoques innovadores y tecnologías en
          constante evolución para satisfacer las necesidades de nuestros
          clientes. Nuestro equipo altamente capacitado está comprometido y
          motivado para brindar soluciones convenientes y de calidad. Trabajamos
          bajo el modelo "Tiempo y Materiales", ofreciendo facturación mensual
          basada en el tiempo de desarrollo.
        </p>
      </div>
    </div>
  </div>
  <div class="btn">
    <a href="team" class="btn-know-us"
      >Conócenos <i class="fas fa-arrow-right"></i></a
    >
  </div>
</section>

<style>
  .about-us {
    text-align: center;
    padding: 40px;
  }

  .about-us h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0c13df;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 20px;
  }

  .content-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo {
    flex: 0 0 50%;
    max-width: 30%;
    margin-bottom: 20px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .description {
    flex: 0 0 50%;
    text-align: left;
    padding: 20px;
  }

  .card {
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 2%;
  }

  .card p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  .description p {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }

  .btn .btn-know-us {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #0c13df;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 20px;
  }

  .btn .btn-know-us:hover {
    background-color: #1c87c9;
  }

  @media screen and (max-width: 768px) {
    .about-us {
      padding: 20px;
    }

    .content-row {
      flex-direction: column;
    }

    .logo,
    .description {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
</style>
