---
const imagesCompany = await Astro.glob("../images/clients/*.png");

const clients = [
  {
    name: "STM",
    comercialName: "Sterling MGA",
    logo: "",
  },
  {
    name: "CCI",
    comercialName: "Covercube",
    logo: "",
  },
  {
    name: "NPIA",
    comercialName: "NPIA, Inc.",
    logo: "",
  },
  {
    name: "SSI",
    comercialName: "StartStone",
    logo: "",
  },
  {
    name: "UESS",
    comercialName: "Tecnológico Universitario Espíritu Santo",
    logo: "",
  },
];

imagesCompany.forEach((image) => {
  const nameImage = image.default
    .split("/")
    .slice(-1)
    .toString()
    .replace(".png", "");
  clients.forEach((client) => {
    if (nameImage.includes(client.name)) {
      client.logo = image.default;
    }
  });
});
---

<section class="clients-section">
  <div class="animated-section section-title">
    <h2>Nuestros clientes</h2>
    <h3>¡Descubre nuestros clientes en acción!</h3>
    <div class="client-list">
      {
        clients.map((client) => (
          <img src={client.logo} alt={client.comercialName} />
        ))
      }
    </div>
  </div>
</section>

<style>
  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0c13df;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 20px;
  }

  .animated-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f5;
  }

  .animated-section h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .animated-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 50px;
  }

  .client-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-list img {
    max-width: 200px;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
  }

  .client-list img:hover {
    filter: grayscale(0%);
  }
</style>
