.about-us {
  text-align: center;
  padding: 40px;
}

.about-us h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color:  #133A78;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 20px;
}

.content-row-about {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;

}

.logo-about {
  flex: 0 0 40%;
  max-width: 50vh;
  margin-bottom: 20px;
}

.logo-about img {
  max-width: 100%;
  height: auto;
}

.description-about {
  flex: 0 0 50%;
  padding: 20px 0;
  
}

.card-about {
 
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 2%;
}

.card-about p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.description-about p {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.btn-about .btn-know-us {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #133A78;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 20px;
}

.btn-about .btn-know-us:hover {
  background-color: #1c87c9;
}

@media screen and (max-width: 768px) {
  .about-us {
    padding: 20px;
  }

  .content-row {
    flex-direction: column;
  }

  .logo-about,
  .description-about {
    flex: 0 0 100%;
    max-width: 85%;
    margin-bottom: 10px;

  }
  .card-about {
    padding: 20px;
   
  }
}
/* @media screen and (max-width: 1008px) {
  .logo-about {

 
  
  }
  
} */
