---
import Logo from "/images/about-us/logo-about-us.png";
import "../about-us/about-us.css";
---

<section class="about-us">
  <h2>¿Quiénes somos?</h2>
  <div class="content-row-about">
    <div class="logo-about">
      <img src={Logo} alt="Logo" />
    </div>
    <div class="description-about">
      <div class="card-about">
        <p>
          Somos una empresa con un equipo diverso de profesionales ecuatorianos
          y estadounidenses dedicados a ofrecer soluciones de software de alta
          calidad. Nos enfocamos en la creación, desarrollo y personalización de
          sistemas y servicios, utilizando enfoques innovadores y tecnologías en
          constante evolución para satisfacer las necesidades de nuestros
          clientes. Nuestro equipo altamente capacitado está comprometido y
          motivado para brindar soluciones convenientes y de calidad. Trabajamos
          bajo el modelo "Tiempo y Materiales", ofreciendo facturación mensual
          basada en el tiempo de desarrollo.
        </p>
      </div>
    </div>
  </div>
  <div class="btn-about">
    <a href="/equasystems-website-project/team" class="btn-know-us"
      >Conócenos <i class="fas fa-arrow-right"></i></a
    >
  </div>
</section>
