---
import "../fixed-button/fixed-button.css";
const phoneNumber = "593986206847";
const button = {
  tooltip: "¡Contáctanos!",
  icon: "fab fa-whatsapp",
  refLink: `https://wa.me/${phoneNumber}`,
};
---

<div class="wrapper">
  <div class="icon socialmedia">
    <div class="tooltip">{button.tooltip}</div>
    <span>
      <a href={button.refLink} target="_blank">
        <i class={button.icon}></i>
      </a>
    </span>
  </div>
</div>
